.title {
    width: 100%;
    text-align: left;
    padding: 10px 0 10px 15px;
    background-color: white;
}
.catgorys {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catgroy-item {
    width: 25%;
    height: 120px;
    border: solid 1px rgb(243,243,243);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catgroy-item img {
    height: 50%;
    margin-bottom: 10px;
}