<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title> </title>
    <link href="css/global.css" type="text/css" rel="stylesheet">
    <link href="css/replay.css" type="text/css" rel="stylesheet">
    <link href="css/hot_artic.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="title">一个生活小感悟，让你理解什么是“混搭”。</div>
    <div class="time-view">
        <div class="time">2017-04-06 21:05</div>
        <div class="view">阅读1503</div>
    </div>
    <div class="aritc">服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。服装搭配中，服装搭配中，服装搭配中，服装搭配中，一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。一个生活小感悟，让你理解什么是“混搭”。</div>


    <div class="reply-div">
        <div class="reply">
            <div class="reply-input">
                <input type="text" class="reply-text">
                <div class="reply-img">
                    <img src="image/shopping1.png">
                    <input type="file" class="reply-file">
                </div>
            </div>

            <input type="button" value="发布" class="btn_publish">
        </div>
    </div>


    <div class="recent-comment">
        <div class="comment-header">最近评论</div>
        <div class="comment-item-div">
            <div class="comment-item">
                <div class="replyer">
                    <div class="replyer-info">
                        <div class="replyer-icon"><img src="image/w1.png"></div>
                        <div class="reply-nickname">闲鹤</div>
                    </div>
                    <div class="ctime">2017-07-26 08:32:25</div>
                </div>
                <div class="reply-content">
                    不错不错，很好玩的<img src="image/w1.png">
                </div>
                <div class="like-reply">
                    <div class="like"><img src="image/shopping1.png"> 0</div>
                    <div class="reply-op"><img src="image/shopping1.png"> 回复</div>
                </div>
            </div>
            <div class="reply">
                <div class="reply-input">
                    <input type="text" class="reply-text">
                    <div class="reply-img">
                        <img src="image/shopping1.png">
                        <input type="file" class="reply-file">
                    </div>
                </div>

                <input type="button" value="发布" class="btn_publish">
            </div>
        </div>

        <div class="comment-item-div">
            <div class="comment-item">
                <div class="replyer">
                    <div class="replyer-info">
                        <div class="replyer-icon"><img src="image/w1.png"></div>
                        <div class="reply-nickname">闲鹤</div>
                    </div>
                    <div class="ctime">2017-07-26 08:32:25</div>
                </div>
                <div class="reply-content">
                    不错不错，很好玩的<img src="image/w1.png">
                </div>
                <div class="like-reply">
                    <div class="like"><img src="image/shopping1.png"> 0</div>
                    <div class="reply-op"><img src="image/shopping1.png"> 回复</div>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>