<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>专题</title>
    <link href="css/global.css" type="text/css" rel="stylesheet">
    <link href="css/product_list.css" rel="stylesheet" type="text/css">
    <link href="css/replay.css" type="text/css" rel="stylesheet">
    <link href="css/subject.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <img src="image/j1.png">
    </div>
    <div class="subject">
        <div class="subject-title">Pose摆的再好，不如一件连衣裙穿的好</div>
        <div class="subject-author"><span>小编专栏</span><span>03-25</span></div>
        <div class="subject-content">
            One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。 One piece简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定，简直是我们这种懒人超大的福音，无论是通勤还是学院一件搞定。
        </div>
    </div>
    <div class="tuijian"><span></span>小编推荐</div>

    <div class="product-list">
        <div class="product-item">
            <a href="detail.html">
                <img src="image/w2.png">
                <div class="product-title">小清新</div>
                <div class="price-shop">
                    <span class="price">￥51.00</span>
                    <img src="image/shopping1.png">
                </div>
            </a>
        </div>

        <div class="product-item">
            <a href="detail.html">
                <img src="image/w3.png">
                <div class="product-title">小清新</div>
                <div class="price-shop">
                    <span class="price">￥51.00</span>
                    <img src="image/shopping1.png">
                </div>
            </a>
        </div>

        <div class="product-item">
            <a href="detail.html">
                <img src="image/w3.png">
                <div class="product-title">小清新</div>
                <div class="price-shop">
                    <span class="price">￥51.00</span>
                    <img src="image/shopping1.png">
                </div>
            </a>
        </div>
    </div>

    <div class="reply-div">
        <div class="reply">
            <div class="reply-input">
                <input type="text" class="reply-text">
                <div class="reply-img">
                    <img src="image/shopping1.png">
                    <input type="file" class="reply-file">
                </div>
            </div>

            <input type="button" value="发布" class="btn_publish">
        </div>
    </div>

    <!-- 最近评论 -->
    <div class="recent-comment">
        <div class="comment-header">最近评论</div>
        <div class="comment-item-div">
            <div class="comment-item">
                <div class="replyer">
                    <div class="replyer-info">
                        <div class="replyer-icon"><img src="image/w1.png"></div>
                        <div class="reply-nickname">闲鹤</div>
                    </div>
                    <div class="ctime">2017-07-26 08:32:25</div>
                </div>
                <div class="reply-content">
                    不错不错，很好玩的<img src="image/w1.png">
                </div>
                <div class="like-reply">
                    <div class="like"><img src="image/shopping1.png"> 0</div>
                    <div class="reply-op"><img src="image/shopping1.png"> 回复</div>
                </div>
            </div>
            <div class="reply">
                <div class="reply-input">
                    <input type="text" class="reply-text">
                    <div class="reply-img">
                        <img src="image/shopping1.png">
                        <input type="file" class="reply-file">
                    </div>
                </div>

                <input type="button" value="发布" class="btn_publish">
            </div>
        </div>

        <div class="comment-item-div">
            <div class="comment-item">
                <div class="replyer">
                    <div class="replyer-info">
                        <div class="replyer-icon"><img src="image/w1.png"></div>
                        <div class="reply-nickname">闲鹤</div>
                    </div>
                    <div class="ctime">2017-07-26 08:32:25</div>
                </div>
                <div class="reply-content">
                    不错不错，很好玩的<img src="image/w1.png">
                </div>
                <div class="like-reply">
                    <div class="like"><img src="image/shopping1.png"> 0</div>
                    <div class="reply-op"><img src="image/shopping1.png"> 回复</div>
                </div>
            </div>
        </div>


    </div>

</div>
</body>
</html>